@model List<Travela.WebUI.Dtos.DestinationDto.ResultDestinationDto>

@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br/><br/>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Şehir</th>
            <th>Ülke</th>
            <th>Fiyat</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DestinationId</td>
                <td>@item.City</td>
                <td>@item.Country</td>
                <td>@item.Price</td>
                <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-success">Güncelle</a></td>
            </tr>
        }

    </table>
    <a href="/Destination/CreateDestination" class="btn btn-primary">Yeni Kategori Girişi</a>
</div>
